version: '3.8'

services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: kafka

  influxdb:
    image: influxdb:2.7
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2

  nifi:
    image: apache/nifi:latest
    ports:
      - "8080:8080"
    volumes:
      - ./nifi/templates:/opt/nifi/templates

  backend:
    build: ./backend
    ports:
      - "8081:8080"
    depends_on:
      - kafka
      - influxdb
      - nifi

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  influxdb_data:

